<footer role="“contentinfo”">
  <div id="geo-footer-container">
    <div id="geo-footer">
        <ul>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to 'https://portagenetwork.ca/' do %>
                  <%= image_tag "portage_logo.png", alt: "Portage", height: 45 %>
                <% end %>
              </div>
            </li>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to 'https://www.ubc.ca/' do %>
                  <%= image_tag "ubc_logo.png", alt: "University Of British Columbia", height: 60 %>
                <% end %>
              </div>
            </li>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to 'https://www.canarie.ca/' do %>
                  <%= image_tag "canarie.png", alt: "CANARIE", height: 60 %>
                <% end %>
              </div>
            </li>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to 'http://www.carl-abrc.ca/' do %>
                  <%= image_tag "logo_carl_enfr.png", alt: "Portage", height: 75 %>
                <% end %>
              </div>
            </li>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to 'http://www.computecanada.ca/' do %>
                  <%= image_tag "logo_cc_enfr.png", alt: "Compute Canada", height: 75 %>
                <% end %>
              </div>
            </li>
        </ul>
        <div class="container">
            <div class="col-md-12" style="text-align:left;">
                <footer>
                    <br>
                    © 2017 - 2020 Canadian Association of Research Libraries &amp; Compute Canada
                    <br>
                    Compute Canada and CARL respect the privacy of individuals and will only collect, use, and disclose Personal Information in keeping with information access and privacy law.
                    <br>
                    <a href="https://www.frdr-dfdr.ca/docs/en/privacy_policy/" target="_blank">Privacy Policy</a>
                </footer>
            </div>
        </div>
    </div>
  </div>
</footer>
