<footer role="“contentinfo”">
  <div id="geo-footer-container">
    <div id="geo-footer">
        <ul>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to t('geoblacklight.home.portage') do %>
                  <%= image_tag "portage_logo.png", alt: "Portage", height: 45 %>
                <% end %>
              </div>
            </li>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to 'https://www.ubc.ca/' do %>
                  <%= image_tag "ubc_logo.png", alt: "University Of British Columbia", height: 60 %>
                <% end %>
              </div>
            </li>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to 'https://www.canarie.ca/' do %>
                  <%= image_tag "canarie.png", alt: "CANARIE", height: 60 %>
                <% end %>
              </div>
            </li>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to t('geoblacklight.home.carl') do %>
                  <%= image_tag "logo_carl_enfr.png", alt: "Portage", height: 75 %>
                <% end %>
              </div>
            </li>
            <li>
              <div id="geo-footer-img" class="span2">
                <%= link_to t('geoblacklight.home.cc') do %>
                  <%= image_tag "logo_cc_enfr.png", alt: "Compute Canada", height: 75 %>
                <% end %>
              </div>
            </li>
        </ul>
        <div class="container">
            <div class="col-md-12" style="text-align:left;">
                <footer id="footer-text">
                    <br>
                    © 2017 - 2021 <%= t('geoblacklight.home.can_lib') %>
                    <br>
                    <%= t('geoblacklight.home.cc_carl_priv') %>
                    <br>
                    <ul>
                        <li><a href=<%= t('geoblacklight.home.priv_uri') %> target="_blank"><%= t('geoblacklight.home.priv') %></a></li>
                        <br>
                        <li><span id="esri"><sup>(1)</sup><sub>Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community</sub></span></li>
                     </ul>
                </footer>
            </div>
        </div>
    </div>
  </div>
</footer>
